<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Get in touch this week!</h1>
    <p>
        <% @contacts.each do |contact| %>
          <div id="contactBox">
            <img src="<%= contact.avatar %>" width="150px" style="border-radius: 150px;border: 10px solid rgb(31,58,147); box-shadow: 0px 5px 5px 0px rgba(34, 49, 63, 0.35);">
            <h4><%= contact.contact_type %></h4>
            <h2><%= contact.name %></h2>
            <h4>Email: <a href="mailto:<%= contact.email %>" target='_blank'><%= contact.email %></a></h4>
            <h4><%= contact.remind_on.strftime("Remind by: %B %d") %></h4>
          </div>
        <% end %>
    </p>
  </body>
</html>